<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a class="text-white text-lg font-bold" href="/">Artisanal Brews Co.</a>
    <div class="space-x-4">
      <a class="text-gray-300 hover:text-white" href="/">Home</a>
      <a class="text-gray-300 hover:text-white" href="/pages/contact">Contact Us</a>
      <a class="text-gray-300 hover:text-white" href="/pages/about">About Us</a>
      <a class="text-gray-300 hover:text-white" href="/products">Products</a>
      <a class="text-gray-300 hover:text-white" href="/cart">My Cart</a>
      <% Category.all.each do |category| %>
        <a class="text-gray-300 hover:text-white" href="<%= category_path(category) %>"><%= category.category_name %></a>
      <% end %>
    </div>
  </div>
</nav>
