<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
  <div class="bg-white p-10 rounded-lg shadow-md max-w-4xl">
    <h1 class="text-4xl font-bold mb-4 text-center"><%= @page.title %></h1>
    <div class="prose">
      <%= simple_format(@page.content) %>
    </div>
  </div>
</div>
